<!DOCTYPE html>
<html>
  <%-include('./common_head.ejs')%>
  <script>
    function logInShow() {
      const partial = document.getElementById('log-in-container');
      const logSign = document.getElementById('log-sign-container');
      if (partial) {
        partial.style.display = 'block';
        logSign.style.display = 'none';
      }
    }
    function signUpShow() {
      const partial = document.getElementById('sign-up-container');
      const logSign = document.getElementById('log-sign-container');
      if (partial) {
        partial.style.display = 'block';
        logSign.style.display = 'none';
      }
    }
  </script>
  <body>
    <section id="log-sign-container" class="log-sign-container">
        <h1> Welcome! </h1>
        <div id="log-sign-button-container"> 
          <button onclick="logInShow()">Log In</button>
          <button onclick="signUpShow()">Sign Up</button>
        </div>
    </section>
    <%- include('../partials/log_in.ejs') %>
    <%- include('../partials/sign_up.ejs') %>
  </body>
</html>
