<!DOCTYPE html>
<html>
  <head>
    <title> Vibe Check </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="log-sign-in" style="display: none;">
        <h2>This is the partial content</h2>
        <p>More details appear here!</p>
      </div>
  </body>
</html>
