<!DOCTYPE html>
<html>
  <body>
    <section id="character-choice-container">
      <h4> Character Name </h4>
      <div id="character-button-container">
          <button class="character-action-button"> </button>
          <button class="character-action-button"> </button>
          <button class="character-action-button"> </button>
      </div>
      <button onclick="ignoreCharacter()"> Ignore </button>
    </section>
  </body>
</html>
