<!DOCTYPE html>
<html>
  <body>
    <section id="game-over-container" class="popup-container">
      <h4> Game Over </h4>
      <div id="game-over-button-container">
        <a href="/game" class="ui-button">Play Game</a>
        <a href="/" class="ui-button">Return Home</a>
      </div>
    </section>
  </body>
</html>