<!DOCTYPE html>
<html>
  <body>
    <div class="nav-header">
    <div class="nav-left">
      <a href="/" class="nav-link">
        <div class="img-container">
          <img src="/images/home.png" alt="Home" class="home-icon">
        </div>
      </a>
      
    </div>
  
    <div class="nav-right">
      <% if (currentPage !== 'characters') { %>
        <a href="/characters" class="nav-link">Characters</a>
      <% } %>

      <% if (currentPage !== 'leaderboard') { %>
        <a href="/leaderboard" class="nav-link"> Leaderboard</a>
      <% } %>
  
      <% if (currentPage !== 'account') { %>
        <a href="/account" class="nav-link">Account</a>
      <% } %>
    </div>
  </div>
  </body>
  <style>
    .nav-header {
        background-color: black;
        padding: 20px 10px;
        opacity: .7;
        width: 100vw;
        box-sizing: border-box;
        margin-bottom: 30px;
    }

    .nav-left {
      float: left;
    }

    .nav-right {
        float: right;
    }

    .nav-link {
        color: white;
        text-decoration: none;
        margin: 0 10px;
        font-size: 14px;
    }

    a {
      margin: 0;
    }

    .img-container{
      width: 40px;
      height: 40px;
    }

    .home-icon{
      width: 100%;
      object-fit: cover;
    }
  </style>
</html>
  