<!DOCTYPE html>
<html>
    <body>
        <h1>Account</h1>
        <form name="log-out-form" action="/account/logout" method="post">
            <input class="submit_button" type="submit" value="Log Out">
        </form>
    </body>
</html>