<!DOCTYPE html>
<html>
  <%- include('../partials/common_head.ejs') %>
  <body>
    
    <h1><%= title %></h1>

    <h2>Login with Account</h2>
    <form name="login-form" action="/auth/login" method="post">

      <label for="username"><h3>Enter Username:</h3></label>
      <input type="text" id="username" name="username" required>
      
      <label for="password"><h3>Enter Password:</h3></label>
      <input type="password" id="password" name="password" required>

      <br><br><input class="submit_button" type="submit" value="Submit">
    </form>

    <h2>Create New Account</h2>
    <form name="signup-form" action="/auth/signup" onsubmit="return validateSignup()" method="post">

      <label for="email"><h3>Enter Email:</h3></label>
      <input type="text" id="email" name="email" required>

      <label for="username"><h3>Choose Username:</h3></label>
      <input type="text" id="username" name="username" required>
      
      <label for="password"><h3>Enter Password:</h3></label>
      <input type="password" id="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number, one uppercase and lowercase letter, and at least 8 or more characters" required>

      <label for="password-repeat"><h3>Repeat Password:</h3></label>
      <input type="password" id="password-repeat" name="password-repeat" required>

      <br><br><input class="submit_button" type="submit" value="Submit">
    </form>

  </body>
  <script>

    function validateSignup() {

      let password = document.forms["signup-form"]["password"].value;
      let passwordRepeat = document.forms["signup-form"]["password-repeat"].value;

      if(passwordRepeat !== password) {
        alert("Passwords do not match.");
        return false;
      }

      return true;
    }

  </script>
</html>