<!DOCTYPE html>
<html>
  <script>

    const socket = new WebSocket("ws://localhost:3000/game");

    socket.addEventListener("open", () => {
      console.log("Connection established");
    });

    socket.addEventListener("message", (event) => {

      const data = JSON.parse(event.data);
      if(data.type === "update") {
        document.getElementById("score").textContent = `Score: ${data.gameState.score}`;
        document.getElementById("money").textContent = `Money: $${data.gameState.money}`;
        socket.send(JSON.stringify({ type: "message", message: "updated" }));
      }
    });

    function selectCharacter() {
      const partial = document.getElementById('character-choice-container');
      if(partial)
        partial.style.display = 'flex';
    }
  </script>
  <body>
    <%-include('../partials/character_choice.ejs')%>
    <div id="header-container"> 
      <button>Home</button>
      <div id="score-container">
        <div id="score">Score: 0</div> 
        <div id="money">Money: $0</div>
      </div>
    </div>
    <div id="all-characters-container"> 
      <div class="character-container">
        <div class="character-image-container" onclick="selectCharacter()"></div>
        <div class="character-score-container"></div>
      </div>
      <div class="character-container">
        <div class="character-image-container" onclick="selectCharacter()"></div>
        <div class="character-score-container"></div>
      </div>
      <div class="character-container">
        <div class="character-image-container" onclick="selectCharacter()"></div>
        <div class="character-score-container"></div>
      </div>
      <div class="character-container">
        <div class="character-image-container" onclick="selectCharacter()"></div>
        <div class="character-score-container"></div>
      </div>
      <div class="character-container">
        <div class="character-image-container" onclick="selectCharacter()"></div>
        <div class="character-score-container"></div>
      </div>
    </div>
  </body>  
  <style>
    #header-container {
      display: flex;
      flex-direction: row;
      gap: 50px;
    }
    #score-container {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
    #all-characters-container {
      display: flex;
      flex-direction: row;
      gap: 10px;
      justify-content: center;
      margin-top: 140px;         
    }
    .character-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .character-image-container {
      height: 200px;
      width: 200px;
      border: 1px solid black;
    }
    .character-score-container {
      width: 200px;
      height: 40px;
      border: 1px solid black;
    }
  </style>
</html>