<!DOCTYPE html>
<html>
  <head>
    <title> Vibe Check </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <script>
    function showLogSign() {
      const partial = document.getElementById('my-partial');
      if (partial) {
        partial.style.display = 'block';
      }
    }
  </script>
  <body>
    <section id="main-header">
      <div style="float: right;">
        <button onclick="showLogSign()"> P </button>
      </div>
      <div>
        <button> L </button>
      </div>
    </section>
    <section id="main-screen-container"> 
      <h1> VIBE CHECK </h1>
      <div id="button-container"> 
        <button> Play Game </button>
        <button> View Characters </button>
        <button> Instructions </button>
      </div>
    </section> 
    <%- include('../partials/authPart.ejs') %>
  </body>
</html>
