<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vibe Check</title>
        <link rel='stylesheet' href='/stylesheets/styles.css'/>
    </head>
    <body>
        <%- include('../partials/nav_partial', { currentPage: null }) %>
        <h1> Welcome to Vibe Check! </h1>
        <div id="instructions-container"> 
            The ultimate game to test if you can manage people. 
            Each character has a different difficulty level (1,2,3). 
            When a character is interacted with they can have a positive, negative, or neutral reaction to an action.
            There score will always increase by 5 (on a positive action) and decrease by 10 on a negative action.
            Your score will increase or decrease based on 5 multiplied by the character difficulty.
            Some actions cost money (you start with $50). 
            If you don't have enough money for any of the actions, you can ignore a character (although this will negatively affect your score).
            If you don't interact with a character for multiple rounds, their health will be affected.
            If you make a character happy enough they might start paying you back.
            But if they lose all their health, you lose the game.
        </div>
    </body>
    <style>
        h1 {
            margin-bottom: 80px;
        }
        #instructions-container {
            font-family: "Pixels";
            color: white;
            background-color: #2e8df7;
            padding: 20px;
            border-radius: 10px;
            line-height: 30px;
        }
    </style>
</html>